*~
*.nm
*.elf
*.hex
*.itb
*.map
*.o
*.so
*.objdump
*.objdump.addr
*.objdump.lab
*.memfile
*.readelf
*.gtkw
*.vcd
*.vsif
*.sve
*.sdb
__pycache__
*.swp
.dvt/
dvt_build.log
xcelium.d/
waves.shm/
*.log
.vscode
work*
*.wlf
transcript
.lib-rtl
.opt-rtl
ucli.key
vcs.cmd
fcov/unpriv
tests/lockstep/rv32
tests/lockstep/rv64
tests/lockstep/rv32e
tests/lockstep/rv64e
fcov/coverage/RISCV_coverage_base_init.svh
fcov/coverage/RISCV_coverage_base_sample.svh
tests/priv/*.h 
tests/lockstep/priv/rv32
tests/lockstep/priv/rv64
tests/signature
tests/selfchecking
