*~
*.nm
*.elf
*.hex
*.itb
*.map
*.o
*.so
*.objdump
*.objdump.addr
*.objdump.lab
*.memfile
*.readelf
*.gtkw
*.vcd
*.vsif
*.sve
*.sdb
__pycache__
*.swp
.dvt/
dvt_build.log
xcelium.d/
waves.shm/
*.log
.vscode
work*
!workflows
*.wlf
transcript
.lib-rtl
.opt-rtl
ucli.key
vcs.cmd
fcov/unpriv
tests/rv32
tests/rv64
tests/rv32e
tests/rv64e
fcov/coverage/RISCV_coverage_base_init.svh
fcov/coverage/RISCV_coverage_base_sample.svh
fcov/coverage/RISCV_instruction_sample.svh
tests/priv/headers
tests/priv/rv32
tests/priv/rv64
