*~
*.nm
*.elf
*.hex
*.itb
*.map
*.o
*.so
*.objdump
*.readelf
*.gtkw
*.vcd
*.vsif
*.sve
*.sdb
__pycache__
*.swp
.dvt/
dvt_build.log
xcelium.d/
waves.shm/
*.log
.vscode
work*
*.wlf
transcript
.lib-rtl
.opt-rtl
ucli.key
vcs.cmd
riscof_work
