[submodule "docs/ctp/docs-resources"]
	path = docs/ctp/docs-resources
	url = https://github.com/riscv/docs-resources
	ignore = dirty
[submodule "riscv-unified-db"]
	path = riscv-unified-db
	url = https://github.com/riscv-software-src/riscv-unified-db
  ignore = untracked
