[tool.uv.workspace]
members = ["framework", "generators/tests/testgen"]

[dependency-groups]
dev = [
    "pyright>=1.1.406",
    "ruff>=0.14.1",
]

###### RUFF CONFIG #####
[tool.ruff]
line-length = 120
extend-exclude = ["external", "_archive"]

[tool.ruff.lint]
select = [
  "F",    # various basic rules (pyflakes)
  "E",    # errors (pycodestyle)
  "W",    # warnings (pycodestyle)
  "I",    # Import related rules (isort)
  "UP",   # Upgraded version available in newer Python
  "B",    # bugbear rules
  "A",    # shadow builtins
  "EXE",  # Executable file shebangs
  "Q003", # Avoidable escaped quotes
  "Q004", # Unnecessary escape character
  "RUF",  # Ruff specific rules
]

ignore = [
  "E501",           # line too long
  "E741",           # ambiguous variable name
  "B007",           # loop control variable not used
  "B9",             # overly opinionated rules
  "RUF005",         # iterable unpacking in list
  "E701",           # multiple statements on one line # TODO: Remove this when autoformatter is in place
]

##### PYRIGHT CONFIG #####
[tool.pyright]
exclude = ["external", "_archive", "**/__pycache__", ".venv", "docs"]
# strict = ["**"]
